$color-white: #fff;
$color-grey: #707070;
$color-light-grey: #f9f9f9;
$color-blue: #1396d9;
$color-dark-blue: #0f325a;

*[class^='bttn'] {
	display: inline-block;
	padding: 10px 60px;
	font-size: 18px;
	font-weight: 700;

	border-radius: 15px;
	&[class*='__blue'] {
		color: $color-white;
		background-color: $color-blue;
	}
}
