@import './style.scss';

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.main-text {
	font-size: 25px;
	color: $color-dark-blue;
	text-align: center;
	margin-bottom: 10%;
	margin-top: 10%;
}
